<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>异步加载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>501E75821BF5CADD00067373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501E759B1BF5CADF00067373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501E75A61BF5CADF00067373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
